/*
* {
    border: 1px solid black;
}
*/

/* Header and Navbar */
header {
    position: fixed;
    color: white;
    background-color: darkslategrey;
    width: 100%;
    top: 0;
    z-index: 3;
   
}

.navbar {
    position: relative;
    display: inline-block;
    width: auto;
    left: 50%;
    top: 0;
}


.nav-block {
    list-style-type: none;
    display: inline-block;
    background-color: gray;
    width: 70px;
    padding: 5px 0;
    margin: 10px 10px;
    text-align: center;
}

/* Headings H1-H4 */
.page-title {
    font-family: "Josefin Sans";
    font-weight: bold;
    font-size: 34px;
    margin: 10px;
    height: 0px;
}

.article-title {
    font-family: "Josefin Sans";
    font-weight: bold;
    font-size: 26px;
    height: 0px;
}

.section-title {
    font-family: "Josefin Sans";
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}

h4 {
    font-family: "Josefin Sans";
    font-weight: bold;
    font-size: 16px;
}

main {
    position: relative;
    top: 120px;
    font-family: "Titillium Web", Arial, sans-serif;
    margin: 200px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color:midnightblue;
    color: white;
    border-color: black;
}

.col-name {
    width: 25%;
}

.col-tag {
    width: 25%;
}

.col-description {
    width: 50%;
}

code {
    color: white;
    background-color: gray;
    font-family: "Roboto Mono", Arial, sans-serif;
    font-size: 12px;
}

.keywords {
    font-weight: bold;
}
